name: main
on:
  - push
  - pull_request

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        nvim-versions:
          - 'stable'
          - 'nightly'
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Install Packages
        run: |
          git clone --depth 1 https://github.com/nvim-lua/plenary.nvim           ~/.local/share/nvim/site/pack/vendor/start/plenary.nvim
          git clone --depth 1 https://github.com/MunifTanjim/nui.nvim            ~/.local/share/nvim/site/pack/vendor/start/nui.nvim
          git clone --depth 1 https://github.com/nvim-treesitter/nvim-treesitter ~/.local/share/nvim/site/pack/vendor/start/nvim-treesitter.nvim

      - name: Install Neovim
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.nvim-versions }}

      - name: Test
        run: make ci

